@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #000;
}

.container {
    height: 80vh;
    width: 25%;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 5vh;
}

input{
    width: 82%;
    margin: 3% 0%;
    border-color: #fff;
    color: #fff;
    text-align: end;
    font-size: 2em;
    border-radius: 3px;
}
button {
    color: #fff;
    border: none;
    height: 15%;
    width: 25%;
    border: 1px solid white;
    border-radius: 2px;
    margin: 1.25% 1%;
    font-size: 2em;
}
.number:hover{
    background-color: rgba(128, 128, 128, 0.20);
}
.same{
    background-color: red;
}
.same:hover{
    background-color: rgba(255, 0, 0, 0.9);
}
#equal{
    background-color: green;
}
#equal:hover{
    background-color: rgba(0, 128, 0, 0.75);
}